<div class="container-fluid" id="Enfrentamientos">

  <h4>Jornada {{jornada}}</h4>

  <nav aria-label="Page navigation example" class="pag">

      <ul class="pagination justify-content-center pagination pagination-sm">
          <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
              </a>
          </li>

          <li class="page-item"><a class="page-link" (click)=actualizarJornada(1)>1</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(2)>2</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(3)>3</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(4)>4</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(5)>5</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(6)>6</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(7)>7</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(8)>8</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(9)>9</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(10)>10</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(11)>11</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(12)>12</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(13)>13</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(14)>14</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(15)>15</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(16)>16</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(17)>17</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(18)>18</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(19)>19</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(20)>20</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(21)>21</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(22)>22</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(23)>23</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(24)>24</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(25)>25</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(26)>26</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(27)>27</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(28)>28</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(29)>29</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(30)>30</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(31)>31</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(32)>32</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(33)>33</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(34)>34</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(35)>35</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(36)>36</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(37)>37</a></li>
          <li class="page-item"><a class="page-link" (click)=actualizarJornada(38)>38</a></li>

          <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
              </a>
          </li>
      </ul>
  </nav>

  <div *ngFor="let enfrentamiento of enfrentamientosJornada">
    <div class="row teamStats" routerLink="123" routerLinkActive="active">
        <div class="col-md-4 col-sm-10 Oscuro">
            <h3><img src={{this.equiposService.getEquipoByID(enfrentamiento.local).escudo}} alt="" class="logoImg"> {{this.equiposService.getEquipoByID(enfrentamiento.local).nombre}}</h3>
        </div>
        <div class="col-md-1 col-sm-2">
            <h3 class="Centrado">{{enfrentamiento.puntosLocal}}</h3>
        </div>
        <div class="col-md-2 col-sm-12 ">
            <h3 class="Centrado">VS</h3>
        </div>
        <div class="col-md-1 col-sm-2">
            <h3 class="Centrado">{{enfrentamiento.puntosVisita}}</h3>
        </div>
        <div class="col-md-4 col-sm-10 Oscuro">
            <h3><img src={{this.equiposService.getEquipoByID(enfrentamiento.visita).escudo}} alt="" class="logoImg">{{this.equiposService.getEquipoByID(enfrentamiento.visita).nombre}}</h3>
        </div>
    </div>
  </div>

</div>