<div class="container-fluid">

  <div class="row" id="barraCambios">
      <div class="col-md-3">
           <img src='{{currentEquipo.escudo}}' alt="" id="logoImg">
      </div>
      <div class="col-md-4">
           <h2>{{currentEquipo.nombre}}</h2>
      </div>
      <div class="col-md-3 botonesDeControl">
          <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  3-4-3
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">3-4-3</a>
                  <a class="dropdown-item">3-5-2</a>
                  <a class="dropdown-item">4-3-3</a>
                  <a class="dropdown-item">4-4-2</a>
                  <a class="dropdown-item">4-5-1</a>
                  <a class="dropdown-item">5-3-2</a>
                  <a class="dropdown-item">5-4-1</a>
              </div>
          </div>
      </div>
      <div class="col-md-2 botonesDeControl">
            <app-modal-cambios></app-modal-cambios>
      </div>
  </div>
  <div class="row">
      <div class="col-md-10 canchaContainer">
          <div class="container-fluid">
              <div class="row">
                  <div class="player">
                      <img src="assets/images/camisaEjemplo.png" alt="" id="player1">
                      <p>Mauri</p>
                  </div>
                  <div class="player">
                      <img src="assets/images/camisaEjemplo.png" alt="" id="player2">
                      <p>Pallaro Jr.</p>
                  </div>
                  <div class="player">
                      <img src="assets/images/camisaEjemplo.png" alt="" id="player3">
                      <p>Pallaro</p>
                  </div>
              </div>
              <div class="row">
                  <div class="player">
                      <img src="assets/images/camisaEjemplo.png" alt="" id="player4">
                      <p>Salgado A.</p>
                  </div>
                  <div class="player">
                      <img src="assets/images/camisaEjemplo.png" alt="" id="player5">
                      <i class="far fa-copyright"></i>
                      <p>Avalos J.</p>
                  </div>
                  <div class="player">
                      <img src="assets/images/camisaEjemplo.png" alt="" id="player6">
                      <p>Tanque</p>
                  </div>
                  <div class="player">
                      <img src="assets/images/camisaEjemplo.png" alt="" id="player7">
                      <p>Kennedy</p>
                  </div>
              </div>
              <div class="row">
                  <div class="player">
                      <img src="assets/images/camisaEjemplo.png" alt="" id="player8">
                      <p>Diaz I.</p>
                  </div>
                  <div class="player">
                      <img src="assets/images/camisaEjemplo.png" alt="" id="player9">
                      <p>Valderrama M.</p>
                  </div>
                  <div class="player">
                      <img src="assets/images/camisaEjemplo.png" alt="" id="player10">
                      <p>Ortiz J.C.</p>
                  </div>



              </div>
              <div class="row">
                  <div class="player">
                      <img src="assets/images/camisaEjemplo.png" alt="" id="portero">
                      <p>Valderrama D.</p>
                  </div>

              </div>
          </div>

      </div>
      <div class="col-md-2" id="banca">
          <div class="row">
                  <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item active" aria-current="page">Banca</li>
                          </ol>
                      </nav>
          </div>
          <div class="row">
              <div class="player">
                  <img src="assets/images/camisaEjemplo.png" alt="">
                  <p>Chavez H.</p>
              </div>

          </div>

          <div class="row">
              <div class="player">
                  <img src="assets/images/camisaEjemplo.png" alt="">
                  <p>Victor Hugo Ortega</p>
              </div>

          </div>
          <div class="row">
              <div class="player">
                  <img src="assets/images/camisaEjemplo.png" alt="">
                  <p>Galindo D.</p>
              </div>

          </div>
          <app-modal-reserva></app-modal-reserva>
      </div>
  </div>
</div>

