<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Cambios</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <h2>Reservas</h2>
            <div class="player container">
                <div class="row">
                    <div class="col-4">
                        <img src="assets/images/LoginIcon.png" alt="" id="player1">
                    </div>
                    <div class="col-8">
                        <span>Drake</span>
                    </div>
                </div>
            </div>
            <div class="player container">
                    <div class="row">
                        <div class="col-4">
                            <img src="assets/images/LoginIcon.png" alt="" id="player1">
                        </div>
                        <div class="col-8">
                            <span>Aguayo R.</span>
                        </div>
                    </div>
                </div>
            <div class="player container">
                <div class="row">
                    <div class="col-4">
                        <img src="assets/images/LoginIcon.png" alt="" id="player1">
                    </div>
                    <div class="col-8">
                        <span>Elias C.</span>
                    </div>
                </div>
            </div>
            <div class="player container">
                <div class="row">
                    <div class="col-4">
                        <img src="assets/images/LoginIcon.png" alt="" id="player1">
                    </div>
                    <div class="col-8">
                        <span>Rios A.</span>
                    </div>
                </div>
            </div>
            <div class="player container">
                <div class="row">
                    <div class="col-4">
                        <img src="assets/images/LoginIcon.png" alt="" id="player1">
                    </div>
                    <div class="col-8">
                        <span>Alfredo</span>
                    </div>
                </div>
            </div>
            <div class="player container">
                <div class="row">
                    <div class="col-4">
                        <img src="assets/images/LoginIcon.png" alt="" id="player1">
                    </div>
                    <div class="col-8">
                        <span>Dario</span>
                    </div>
                </div>
            </div>
            <div class="player container">
                <div class="row">
                    <div class="col-4">
                        <img src="assets/images/LoginIcon.png" alt="" id="player1">
                    </div>
                    <div class="col-8">
                        <span>Cabrera I.</span>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>

  <div class="row">
      <button type="button" class="btn btn-info btn-block btn-lg" (click)="open(content)">Reservas</button>
  </div>