<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="w-100 order-1 order-md-0 ">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a routerLink="posiciones" class="nav-link" routerLinkActive="active">Tabla Posiciones</a>
          </li>
          <li class="nav-item">
              <a routerLink="enfrentamientos" class="nav-link" routerLinkActive="active">Enfrentamientos</a>
          </li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>
