#filtros {
    opacity: .9;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: darkgray;
}

td {
    opacity: .7;
}

td:hover {
    opacity: 1.0;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
