<div class="fondo">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand mb-0 h1 mr-auto" href="#">FantasyLeague <span></span><i class="fas fa-futbol"></i></a>
    <span class="navbar-item">
      <img src="assets/images/laligaEspanola.png" alt="" srcset="">
    </span>
    <span class="navbar-item">
      <img src="assets/images/LigaSerieA.png" alt="" srcset="">
    </span>
    <span class="navbar-item">
      <img src="assets/images/Bundesliga.png" alt="" srcset="">
    </span>
    <span class="navbar-item">
      <img src="assets/images/Premier-League-logo-2016-640x480.png" alt="" srcset="">
    </span>
    <span class="navbar-item">
      <img src="assets/images/ligue1.png" alt="" srcset="">
    </span>
  </nav>


  <div class="container" id="logIn">
    <div class="row" id="formLogin">
      <div class="jumbotron col-12">
        <img src="assets/images/LoginIcon.png" alt="" srcset="">
        <form>
          <div class="form-group row col-12">
            <label for="inputEmail1" class="col-form-label">Email:</label>
            <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
          </div>
          <div class="form-group row col-12">
            <label for="inputPassword1" class="col-form-label">Contraseña: </label>
            <input type="password" required class="form-control" id="inputPassword1" placeholder="Contraseña">
          </div>
          <div class="form-group row col-12">
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <button type="submit" class="btn btn-info">Registrate</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row" id="formLogin">
      <div class="jumbotron col-12">
        <img src="assets/images/LoginIcon.png" alt="" srcset="">
        <form>
          <div class="form-group row col-12">
            <label for="inputEmail2" class="col-form-label">Email:</label>
            <input type="email" class="form-control" id="inputEmail2" placeholder="Email">
          </div>
          <div class="form-group row col-12">
            <label for="inputPassword2" class="col-form-label">Contraseña: </label>
            <input type="password" required class="form-control" id="inputPassword2" placeholder="Contraseña">
          </div>
          <div class="form-group row col-12">
            <label for="inputPassword3" class="col-form-label">Confirmar contraseña: </label>
            <input type="password" required class="form-control" id="inputPassword3" placeholder="Contraseña">
          </div>
          <div class="form-group row col-12">
            <button type="submit" class="btn btn-primary">Registrate</button>
            <button type="submit" class="btn btn-info">Ingresa a tu cuenta</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row" id="formLogin">
        <div class="jumbotron col-12">
            <img src="assets/images/LoginIcon.png" alt="" srcset="">
            <h1>Ha cerrado sesion</h1>
        </div>
    </div>
  </div>