<div class="container-fluid">
    <div class="container">
        <ol>
            <li class="row">¿Qué es el Fantasy League?
                El fantasy league es un juego de deportes en el que un usuario crea un equipo, selecciona sus jugadores
                preferidos, gana puntos conforme a lo que hagan sus jugadores en sus respectivos partidos, y compite
                contra sus amigos para ganar la liga.</li>
            <li class="row">Nuestro fantasy consiste en que un usuario pueda crear su equipo y unirlo a una liga o crear
                una nueva. Una vez que la liga cuente con 20 participantes inscritos se habilitará la edición de
                plantillas. </li>
            <li class="row">El usuario podrá hacerse propietario de 19 jugadores y añadirlos a su plantilla, podrá
                venderlos y comprarlos siempre y cuando no tengan otro dueño en la liga.</li>
            <li class="row">Una vez que haya añadido un jugador a su plantilla el usuario podrá elegir la posición en la
                que quiere alinear a su jugador y elegir un capitán. </li>
            <li class="row">Al iniciar la jornada la plantilla elegida se enfrentará a la de un rival de la liga y aquel
                que realice la mayor cantidad de puntos recibirá 3pts para la tabla general. </li>
            <li class="row">Los usuarios podrán consultar la tabla de posiciones y el calendario de enfrentamientos.
                Al final del torneo el equipo que realice la mayor cantidad de puntos será el ganador. </li>
        </ol>
        <p>Algunas jugadas que les dará puntos a los jugadores son:</p>
        <table>
            <thead>
                <tr>
                    <td><b>Puntos</b></td>
                    <td><b>Cantidad</b></td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Anotar gol</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Pase de gol</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Ganar partido</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Atajadas</td>
                    <td>.25</td>
                </tr>
                <tr>
                    <td>Recuperar Balones</td>
                    <td>.25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>