<div class="container-fluid">
  <div class="container">
      <ol>
          <li class="row">1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum neque praesentium
              minima numquam quis assumenda asperiores provident autem corrupti odio. Voluptate consequuntur quasi
              blanditiis at aspernatur! Ducimus, laudantium officiis? Doloribus.</li>
          <li class="row">2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla obcaecati recusandae
              omnis! Quam minima, perferendis impedit eos tempora non mollitia voluptas maiores obcaecati dolore
              blanditiis numquam ullam doloremque repellat rem!</li>
          <li class="row">3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores iusto dolorem
              illum consectetur qui quod voluptate omnis facilis atque impedit suscipit, cumque incidunt
              exercitationem eveniet quis quia, dolore laboriosam veniam?</li>
          <li class="row">4. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsa quaerat,
              cum voluptas nesciunt pariatur nam soluta provident? Doloribus cum amet dolores, delectus debitis
              saepe obcaecati nulla veritatis vitae expedita.</li>
          <li class="row">5. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aliquam,
              consectetur impedit at dolore voluptatibus cum facilis? Quas, praesentium! Perspiciatis, qui quae
              autem aliquid dolor ad molestias totam eos fuga!</li>
          <li class="row">6. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, quod ab architecto
              iure neque voluptatem dolor, repudiandae rerum fugit necessitatibus facilis dicta dolorem
              dignissimos debitis blanditiis magni inventore quaerat sunt!</li>
      </ol>

      <table>
          <thead>
              <tr>
                  <td><b>Puntos</b></td>
                  <td><b>Cantidad</b></td>
              </tr>
          </thead>

          <tbody>
              <tr>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, quia quas! Soluta consectetur repudiandae iste amet a ipsam aliquid, voluptatibus veniam iusto, vel neque cupiditate voluptate praesentium necessitatibus. Omnis, perferendis!</td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam illum eum id, exercitationem quas quibusdam veritatis. Velit dignissimos minus, nisi perspiciatis recusandae fugiat debitis repudiandae a, reprehenderit maiores natus. Impedit.</td>
                  <td>5</td>
              </tr>
              <tr>
                  <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, quo harum. Itaque, in ipsa omnis ratione ex aspernatur tempore veritatis eum odit perferendis, at mollitia! Consequuntur, eos autem. Aliquam, reprehenderit.</td>
                  <td>4</td>
              </tr>
              <tr>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quidem veritatis unde ab asperiores. Deleniti suscipit corrupti consequatur distinctio in, facilis quaerat ipsa voluptates doloremque explicabo, at quod ipsum aliquid.</td>
                  <td>3</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>