<div class="container-fluid">
  <nav aria-label="breadcrumb">
      <ol class="row breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Enfrentamiento Jornada 1</li>
      </ol>
  </nav>
  <div class="row" id="teamStats">
      <div class="col-md-4 col-sm-10">

          <h3><img src="assets/images/a.png" alt="" class="logoImg">  Mickey Mouse</h3>
      </div>
      <div class="col-md-1 col-sm-2">
          <h3>50</h3>
      </div>
      <div class="col-md-2 col-sm-12">
          <h3>VS</h3>
      </div>
      <div class="col-md-1 col-sm-2">
          <h3>55</h3>
      </div>
      <div class="col-md-4 col-sm-10">
          <h3><img src="assets/images/LogosDeEquipos/pallacracks.jpg" alt="" class="logoImg"> Pallacracks</h3>
      </div>
  </div>

  <div class="row canchaContainer">
      <div class="container-fluid">
          <div class="row">
              <div class="col-2">
                  <p>
                      <span class="nombreDeJugadorIzq">Donald</span>
                      <img src="assets/images/CamisaIzquierda.png" alt="">
                      <span>10</span>
                  </p>
              </div>
              <div class="col-2">
                  <p>
                      <span class="nombreDeJugadorIzq">Goofy</span>
                      <img src="assets/images/CamisaIzquierda.png" alt="">
                      <span>10</span>
                  </p>
              </div>
              <div class="col-2">
                  <p>
                      <span class="nombreDeJugadorIzq">Pluto</span>
                      <img src="assets/images/CamisaIzquierda.png" alt="">
                      <span>2</span>
                  </p>
              </div>
              <div class="col-2">
                  <p>
                      <span>4</span>
                      <img src="assets/images/CamisaDerecha.png" alt="">
                      <span class="nombreDeJugadorDerecho">Pallaro</span>
                  </p>
              </div>
              <div class="col-2">
                  <p>
                          <span>3</span>
                      <img src="assets/images/CamisaDerecha.png" alt="">
                      <span class="nombreDeJugadorDerecho">Kennedy</span>
                  </p>
              </div>
              <div class="col-2">
                  <p>
                      <span>2</span>
                      <img src="assets/images/CamisaDerecha.png" alt="">
                      <span class="nombreDeJugadorDerecho">Ortiz J.C</span>
                  </p>
              </div>
          </div>

          <!-- -------------------------------------------------- -->

          <div class="row">
              <div class="col-2"></div>
              <div class="col-2">
                  <p>
                      <span class="nombreDeJugadorIzq">Minnie</span>
                      <img src="assets/images/CamisaIzquierda.png" alt="">
                      <span>10</span>
                  </p>
              </div>
              <div class="col-2"></div>
              <div class="col-2"></div>
              <div class="col-2">
                  <p>
                          <span>8</span>
                      <img src="assets/images/CamisaDerecha.png" alt="">
                      <span class="nombreDeJugadorDerecho">Tanque</span>
                  </p>
              </div>
              <div class="col-2"></div>
          </div>

          <!-- -------------------------------------------------- -->

          <div class="row">
              <div class="col-2">
                  <p>
                      <span class="nombreDeJugadorIzq">Daisy</span>
                      <img src="assets/images/CamisaIzquierda.png" alt="">
                      <span>5</span>
                  </p>
              </div>
              <div class="col-2">
                  <p>
                      <span class="nombreDeJugadorIzq">Chip</span>
                      <img src="assets/images/CamisaIzquierda.png" alt="">
                      <span>1</span>
                  </p>
              </div>
              <div class="col-2">
                  <p>
                      <span class="nombreDeJugadorIzq">Ludwig</span>
                      <img src="assets/images/CamisaIzquierda.png" alt="">
                      <span>6</span>
                  </p>
              </div>
              <div class="col-2">
                  <p>
                          <span>3</span>
                      <img src="assets/images/CamisaDerecha.png" alt="">
                      <span class="nombreDeJugadorDerecho">Pallaro Jr.</span>
                  </p>
              </div>
              <div class="col-2">
                  <p>
                          <span>4</span>
                      <img src="assets/images/CamisaDerecha.png" alt="">
                      <span class="nombreDeJugadorDerecho">Valderrama M.</span>
                  </p>
              </div>
              <div class="col-2">
                  <p>
                          <span>7</span>
                      <img src="assets/images/CamisaDerecha.png" alt="">
                      <span class="nombreDeJugadorDerecho">Valderrama D.</span>
                  </p>
              </div>
          </div>

          <!-- -------------------------------------------------- -->

          <div class="row">
              <div class="col-2"></div>
              <div class="col-2">
                  <p>
                      <span class="nombreDeJugadorIzq">Toodles</span>
                      <img src="assets/images/CamisaIzquierda.png" alt="">
                      <span>10</span>
                  </p>
              </div>
              <div class="col-2"></div>
              <div class="col-2"></div>
              <div class="col-2">
                  <p>
                      <span>8</span>
                      <img src="assets/images/CamisaDerecha.png" alt="">
                      <span class="nombreDeJugadorDerecho">Avalos J.</span>
                  </p>
              </div>
              <div class="col-2"></div>
          </div>
          
          <!-- -------------------------------------------------- -->

          <div class="row">
              <div class="col-2">
                  <p>
                      <span class="nombreDeJugadorIzq">Chip</span>
                      <img src="assets/images/CamisaIzquierda.png" alt="">
                      <span>2</span>
                  </p>
              </div>
              <div class="col-2">
                  <p>
                      <span class="nombreDeJugadorIzq">Dale</span>
                      <img src="assets/images/CamisaIzquierda.png" alt="">
                      <span>4</span>
                  </p>
              </div>
              <div class="col-2">
                  <p>
                      <span class="nombreDeJugadorIzq">Clarabella</span>
                      <img src="assets/images/CamisaIzquierda.png" alt="">
                      <span>3</span>
                  </p>
              </div>
              <div class="col-2">
                  <p>
                      <span>3</span>
                      <img src="assets/images/CamisaDerecha.png" alt="">
                      <span class="nombreDeJugadorDerecho">Mauri</span>
                  </p>
              </div>
              <div class="col-2">
                  <p>
                          <span>4</span>
                      <img src="assets/images/CamisaDerecha.png" alt="">
                      <span class="nombreDeJugadorDerecho">Salgado A.</span>
                  </p>
              </div>
              <div class="col-2">
                  <p>
                      <span>7</span>
                      <img src="assets/images/CamisaDerecha.png" alt="">
                      <span class="nombreDeJugadorDerecho">Diaz I.</span>
                  </p>
              </div>
          </div>
      </div>

  </div>

  <div class="row bancaContainer">
      <div class="col-6">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-3">
                      Banca
                  </div>
              <div class="col-3">
                  <p>
                      <img src="assets/images/camisaEjemplo.png" alt="">
                      <span>4</span>
                  </p>
                  
                  <p>Hugo</p>
              </div>
              <div class="col-3">
                  <p>
                      <img src="assets/images/camisaEjemplo.png" alt="">
                      <span>6</span>
                  </p>
                  
                  <p>Paco</p>
              </div>
              <div class="col-3">
                  <p>
                      <img src="assets/images/camisaEjemplo.png" alt="">
                      <span>5</span>
                  </p>
                  
                  <p>Luis</p>
              </div>
              </div>
              
          </div>
      </div>
      <div class="col-6">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-3">Banca</div>
                  <div class="col-3">
                      <p>
                          <img src="assets/images/camisaEjemplo.png" alt="">
                          <span>4</span>
                      </p>
                      <p>Chavez H.</p>
                  </div>
                  <div class="col-3">
                      <p>
                          <img src="assets/images/camisaEjemplo.png" alt="">
                          <span>2</span>
                      </p>
                      <p>Victor Hugo Ortega</p>
                  </div>
                  <div class="col-3">
                      <p>
                          <img src="assets/images/camisaEjemplo.png" alt="">
                          <span>3</span>
                      </p>
                      
                      <p>Galindo D.</p>
                  </div>
              </div>
              
          </div>
      </div>
  </div>