body{
    background-image: url("../images/fondoLogin.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    /* height: 100%; */
}

html{
    height: 100%;
}

label{
    color: black;
}

nav{
    min-height: 55px;
}

.navbar{
    padding:0px 16px;
}

nav img{
    max-height: 50px;
}

nav span{
    padding: 0px 10px;
}

.jumbotron{
    margin-top: 15%;
    background-color: rgba(233, 236, 239, 0.8);
    font-weight: bold;
}

div div.row{
    width: 60%;
    margin: 10px auto; 

}

.jumbotron img{
    height: 100px;
    margin: auto;
    display: block;
}


.jumbotron button:nth-child(2){
    margin-left: 3%;
    display: inline-block;
}

